AmazedOutputAnalyzer==0.40.9
astropy==5.2.2
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
blosc2==2.0.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
clickclick==20.10.2
connexion==2.14.2
coverage==7.2.2
Cython==0.29.34
DatasetParameters==0.42
DatasetTools==0.42
decorator==5.1.1
exceptiongroup==1.1.1
executing==1.2.0
Flask==2.2.5
gitdb==4.0.10
GitPython==3.1.31
h5py==3.8.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
ipython==8.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
msgpack==1.0.5
numexpr==2.8.4
numpy==1.24.2
packaging==23.0
pandas==2.0.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyamazed==0.42+gitcb039eea
pyerfa==2.0.0.3
Pygments==2.14.0
pylibamazed==0.42+gite7c19960.dirty
pyrsistent==0.19.3
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-runner==6.0.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.28.2
scipy==1.10.1
setuptools-git-versioning==1.13.3
six==1.16.0
smmap==5.0.0
stack-data==0.6.2
swagger-ui-bundle==0.0.9
tables==3.8.0
toml==0.10.2
tomli==2.0.1
traitlets==5.9.0
tzdata==2023.3
urllib3==1.26.15
vizu==0.40.8
wcwidth==0.2.6
Werkzeug==2.2.3
