###############################################
# Ignore files created by cmake
###############################################
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/*.cmake
build/SYSTEM_*
build/install_manifest.txt

*.creator.user*
*.config
*.creator
*.includes
*.files
*.sh

bin/*
test/report/report.xml

# Third party
thirdparty/*

# doc
docs/html/

#
pkgconfig

# 
*.o
*.a

# Eclipse IDE
.cproject
.project
.settings/
.pydevproject

# Temp files
*~
