###############################################
# Ignore files created by cmake
###############################################
build/
build-debug/
RedshiftLibrary/RedshiftLibrary/version.h

cmake/cpf-redshift-config-version.cmake
cmake/cpf-redshift-config.cmake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
tools/CMakeFiles/

*.creator.user*
*.config
*.creator
*.includes
*.files
*.sh

bin/*
test/report/report.xml
RedshiftLibrary/tests/src/test-config.h

# Third party
thirdparty/*

# doc
docs/html/

#
pkgconfig

#
*.o
*.a
*.so
*.dylib

# Vscod IDE
.vscode

# Eclipse IDE
.cproject
.project
.settings/
.pydevproject

# Temp files
*~

# Index files
TAGS
.DS_Store
Thumbs.db

# Python cache files
*.pyc
*__pycache__
dist
pylibamazed/redshift_wrap.cpp
pylibamazed/redshift_wrap.h
pylibamazed/redshift.py
*.egg*
wheel

swig_ext.py

lib/*.so

# Index files for Source Trail
*.srctrlbm
*.srctrldb
*.srctrlprj